<!DOCTYPE html>
<html>
<head>
	<title>Todo Lab.\Contacto</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale1.0"/>
    <meta name="keywords" content="ú">
	<meta name="description" content="Envíanos comentarios de ayuda, sugerencias o únete al equipo de trabajo">
	<link rel="stylesheet" href="../assets/estilos.css">
</head>
<body id="grillaAyuda">
	<header>
		<div class="divHeader">
			    <div class="btn-menu">
				    <label for="btn-menu">☰</label>
			    </div>
		    <h1>Todo Lab.</h1>
	    </div>	  
		<nav id="navUno">
		    <ul class="listaUno">
			    <li><a href="../index.html" class="enlacesLista">Inicio</a></li>
			    <li><a href="equipos-de-lab.html" class="enlacesLista">Equipos de laboratorio</a></li>
                <li><a href="materiales-de-lab.html" class="enlacesLista">Materiales de laboratrio</a></li>
                <li><a href="contacto-y-nosotros.html" class="enlacesLista">Contacto y Nosotros</a></li>
			</ul>
	    </nav>
	</header>
	    <input type="checkbox" id="btn-menu">
	    <div class="container-menu">
		    <div class="cont-menu">
			    <nav>
				    <a href="#">Bureta</a>
				    <a href="#">Embudo buchner</a>
				    <a href="#">Suscribirse</a>
				    <a href="#">Facebook</a>
				    <a href="#">Youtube</a>
				    <a href="#">Instagram</a>
			    </nav>
			    <label for="btn-menu">✖️</label>
		    </div>
	    </div>
	<section id="ayuda" class="contactosyNosotros">
		<h2>¡Sumate si te interesa ayudarnos!</h2>
        <p class="fuente">Si crees que puedes ayudarnos aportando ideas o viendo errores dentro de la información contactanos. Muchas gracias.</p>
    </section>
	<section id="form" class="segmentos">
        <form>
				<div class="divUno">
				    <label>Nombre y Apellido:<input type="text" name="nombreyapellido"></label>
					<label>Email:<input type="Email" name="Email"></label>
					<label>Soy:<select name="Ocupacion"></label>
						  <option value="Estudiante secundario">Estudiante secundario</option>
						  <option value="Estudiante universitario">Estudiante universitario</option>
						  <option value="Trabajador en la industria">Trabajador en la industria</option>
						  <option value="Profesor secundario">Profesor secundario</option>
						  <option value="Profesor universitario">Profesor universitario</option>
						  <option value="Otro">Otro</option></select>
					<label>Especifica si elegiste "Otro":<input type="text" name="otro"></label>
					<label>Te gustaria sumarte a nuestro grupo de Whatsapp: <input type="checkbox" value="Si"></label>
					<label>Número de Whatsapp:<input type="text" name="Numero"></label>
				</div>
				<div>
				    <textarea class="margenElementosForm">Dejanos tu mensaje</textarea>
					<div class="margenElementosForm">
						 <input type="submit" value="Enviar formulario">
					     <input type="reset" value="Reiniciar formulario">
					</div>
				</div>
 	        </form>
	</section>
	<section id="nosotrosDos" class="contactosyNosotros">
		<h2>Hola, conoce un poco de nosotros.</h2>
		<p class="fuente">La página se realiza a partir de un estudiante de química que busca ayudar a las personas que busquen sobre materiales de laboratorio y puedan encontrar toda esto en una sola página lo mas completa posible.</p>
    </section>
</body>
</html>