<!DOCTYPE html>
<html>
<head>
	<title>Todo Lab.\Equipos</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale1.0"/>
	<meta name="keywords" content="autoclave, balanza analitica, balanza granataria, estufa de cultivo, centrifugadora">
	<meta name="description" content="En este segmento podrás encontrar las descripciones, usos,imagenes y tipos de los diferentes equipos de laboratorio">
	<link rel="stylesheet" href="../assets/estilos.css">
</head>
<body id="grillaEquipos">
	<header>
		<div class="divHeader">
			    <div class="btn-menu">
				    <label for="btn-menu">☰</label>
			    </div>
		    <h1>Todo Lab.</h1>
	    </div>	  
		<nav id="navUno">
		    <ul class="listaUno">
			    <li><a href="../index.html" class="enlacesLista">Inicio</a></li>
			    <li><a href="equipos-de-lab.html" class="enlacesLista">Equipos de laboratorio</a></li>
                <li><a href="materiales-de-lab.html" class="enlacesLista">Materiales de laboratrio</a></li>
                <li><a href="contacto-y-nosotros.html" class="enlacesLista">Contacto y Nosotros</a></li>
			</ul>
	    </nav>
	</header>
	    <input type="checkbox" id="btn-menu">
	    <div class="container-menu">
		    <div class="cont-menu">
				<nav>
					<ul>
						<li>Equipos
							<ul>
								<li><a href="views/">Autoclave</a></li>
								<li><a href="views/">Balanza analitica</a></li>
								<li><a href="views/">Balanza granataria</a></li>
								<li><a href="views/">Centrifugadora</a></li>
								<li><a href="views/">Estufa de cultivo</a></li>
							</ul>
						</li>
						<li>Materiales
							<ul>
								<li><a href="views/">Bureta</a></li>
								<li><a href="views/">Embudo buchner</a></li>
								<li><a href="views/">Embudo decantacion</a></li>
								<li><a href="views/">Erlenmeyer</a></li>
								<li><a href="views/">Tubo refrigerante</a></li>
							</ul>
						</li>
				  </ul>
				</nav>
			    <label for="btn-menu">✖️</label>
		    </div>
	    </div>
		<h2 class="subtitulo">Equipos de laboratorio</h2>
		<section id="autoclave" class="segmentos">
				<h3><a href="">Autoclave</a></h3>
			    <p class="fuente">
					Un autoclave es un recipiente metálico de paredes gruesas con cierre 
					hermético que permite trabajar con vapor de agua a alta presión y alta temperatura,
					que sirve para esterilizar material médico o de laboratorio. El autoclave inactiva 
					todos los virus y bacterias, aunque se ha llegado a saber que algunos microorganismos 
					pueden soportar las temperaturas del autoclave. Los autoclaves se utilizan en aplicaciones 
					principalmente de esterilización y en la industria química.
					</p>
		</section>
        <section id="balanzaAnalitica" class="segmentos">
				<h3><a href="">Balanza analítica</a></h3>
        	    <p class="fuente">
					La balanza es un instrumento que sirve para medir la masa. La balanza
					analítica es una clase de balanza utilizada principalmente para medir pequeñas masas. 
					Este tipo de balanza es uno de los instrumentos de medida más usados en laboratorio y 
					de la cual dependen básicamente todos los resultados analíticos.
				</p>
        </section>
        <section id="balanzaGranataria" class="segmentos">
				<h3><a href="">Balanza granataria</a></h3>
                <p class="fuente">
					Una de las balanzas mecánicas más utilizadas, que tiene una precisión 
					elevada (0,001g) y un rango de capacidades de aproximadamente entre 200 gramos hasta 
					25 kilogramos, es la balanza granataria. Sin embargo, estas capacidades varían según 
					las especificaciones de la balanza de la que se disponga.<br>
					Aunque siempre debe mantenerse limpia, la báscula granataria necesita menos cuidados 
					que otras, distinguiéndose principalmente por el hecho de que es más duradera y económica.
				</p>
        </section>
        <section id="centrifugadora" class="segmentos">
				<h3><a href="">Centrifugadora</a></h3>
        	    <p class="fuente">
					La centrífuga es un equipo de laboratorio que genera movimientos de rotación,
					tiene el objetivo de separar los componentes que constituyen una sustancia. Hoy en día hay 
					existe una diversidad de centrifugas que tiene diferentes objetivos, independientemente del 
					tipo de investigación o industria.
				</p>
        </section>
        <section id="estufaCultivo" class="segmentos">
				<h3><a href="">Estufa de cultivo</a></h3>
        	    <p class="fuente">
					Una Incubadora de laboratorio es un dispositivo utilizado para cultivar y mantener 
					cultivos microbiológicos o cultivos celulares. La incubadora mantiene una temperatura y humedad 
					optima garantizando también otras condiciones tales como el dióxido de carbono (CO2) y contenido 
					de oxigeno presente en la incubadora.<br>
					Las incubadoras de laboratorio son esenciales para una gran cantidad de trabajos experimentales 
					enfocados a la biología celular, microbiología, y biología molecular.
				</p>
        </section>
</body>
</html>

	