<!DOCTYPE html>
<html>
<head>
	<title>Todo Lab.\Equipos</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale1.0"/>
	<meta name="keywords" content="autoclave, balanza analitica, balanza granataria, estufa de cultivo, centrifugadora">
	<meta name="description" content="En este segmento podrás encontrar las descripciones, usos,imagenes y tipos de los diferentes equipos de laboratorio">
	<link rel="stylesheet" href="../assets/estilos.css">
</head>
<body id="grillaEquipos">
	<header>
		<h1>Todo Lab.</h1>
	    <nav id="navUno">
		    <ul class="listaUno">
			    <li class="itemsListaUno"><a href="../index.html">Inicio</a></li>
			    <li class="itemsListaUno"><a href="equipos-de-lab.html">Equipos de laboratorio</a></li>
                <li class="itemsListaUno"><a href="materiales-de-lab.html">Materiales de laboratrio</a></li>
                <li class="itemsListaUno"><a href="contacto-y-nosotros.html">Contacto y Nosotros</a></li>
		    </ul>
	    </nav>
	</header>
	<nav id="navDos">
		<ul class="listaDos">
			<li class="itemsListaDos">Equipos</li>
				 <ul>
					 <li class="subItemsListaDos"><a href="#autoclave">Autoclave</a></li>
					 <li class="subItemsListaDos"><a href="#balanzaAnalitica">Balanza analitica</a></li>
					 <li class="subItemsListaDos"><a href="#balanzaGranataria">Balanza granataria</a></li>
					 <li class="subItemsListaDos"><a href="#centriugadora">Centriugadora</a></li>
					 <li class="subItemsListaDos"><a href="#estufaCultivo">Estufa de cultivo</a></li>
					 <li class="subItemsListaDos"><a>Item</a></li>
					 <li class="subItemsListaDos"><a>Item</a></li>
					 <li class="subItemsListaDos"><a>Item</a></li>				
				 </ul>
		</ul>
	</nav>
		<h2 class="subtitulo">Equipos de laboratorio</h2>
		<section id="autoclave" class="segmentos materialesyEquipos">
			<div class="divMaterialesyEquipos">
				<h3>Autoclave</h3>
			    <p class="fuente">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<img src="../imagenes/autoclave.jpg" alt="Autoclave"> 
		</section>
        <section id="balanzaAnalitica" class="segmentos materialesyEquipos">
            <div class="divMaterialesyEquipos">
				<h3>Balanza analítica</h3>
        	    <p class="fuente">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        	    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        	    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        	    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        	    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        	    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<img src="../imagenes/balanza-analitica.jpg" alt="balanza-analitica">
        </section>
        <section id="balanzaGranataria" class="segmentos materialesyEquipos">
            <div class="divMaterialesyEquipos">
				<h3>Balanza granataria</h3>
                <p class="fuente">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<img src="../imagenes/balanza-granataria.jpg" alt="Balanza-granataria">
        </section>
        <section id="centrifugadora" class="segmentos materialesyEquipos">
			<div class="divMaterialesyEquipos">
				<h3>Centrifugadora</h3>
        	    <p class="fuente">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        	    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        	    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        	    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        	    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        	    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<img src="../imagenes/centrifugadora.jpg" alt="Centrifugadora">
        </section>
        <section id="estufaCultivo" class="segmentos materialesyEquipos">
            <div class="divMaterialesyEquipos">
				<h3>Estufa de cultivo</h3>
        	    <p class="fuente">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        	    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        	    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        	    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        	    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        	    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<img src="../imagenes/estufa-de-cultivo.jpg" alt="Estufa-de-cultivo">
        </section>
</body>
</html>

	