<!DOCTYPE html>
<html>
<head>
<title>Todo Lab.\Materiales</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale1.0"/>
	<meta name="keywords" content="bureta, embudo buchner, embudo decantación, tubo refrigerante, erlenmeyer">
	<meta name="description" content="En este segmento podrás encontrar las descripciones, usos,imagenes y tipos de los diferentes materiales de laboratorio">
	<link rel="stylesheet" href="../assets/estilos.css">
</head>
<body id="grillaMateriales">
	<header>
		<h1>Todo Lab.</h1>
	    <nav id="navUno">
		    <ul class="listaUno">
			    <li class="itemsListaUno"><a href="../index.html">Inicio</a></li>
			    <li class="itemsListaUno"><a href="equipos-de-lab.html">Equipos de laboratorio</a></li>
                <li class="itemsListaUno"><a href="materiales-de-lab.html">Materiales de laboratrio</a></li>
                <li class="itemsListaUno"><a href="contacto-y-nosotros.html">Contacto y Nosotros</a></li>
		    </ul>
	    </nav>
	</header>
	    <nav id="navDos">
			<ul class="listaDos">
				<li class="itemsListaDos">Materiales</li>
			         <ul>
				         <li class="subItemsListaDos"><a href="#bureta">Bureta</a></li>
                         <li class="subItemsListaDos"><a href="#embudoBuchner">Embudo Buchner</a></li>
                         <li class="subItemsListaDos"><a href="#embudoDecantacion">Embudo de decantación</a></li>
                         <li class="subItemsListaDos"><a href="#erlenmeyer">Erlenmeyer</a></li>
                         <li class="subItemsListaDos"><a href="#tubosRefrigerantes">Tubos refrigerantes</a></li>
                         <li class="subItemsListaDos"><a>Item</a></li>
                         <li class="subItemsListaDos"><a>Item</a></li>
                         <li class="subItemsListaDos"><a>Item</a></li>				
			         </ul>
		    </ul>
		</nav>
		<h2 class="subtitulo">Materiales de laboratorio</h2>
		<section id="bureta" class="segmentos materialesyEquipos">
			<div class="divMaterialesyEquipos">
			    <h3>Bureta</h3>
        	    <p class="fuente">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        	    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        	    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        	    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        	    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        	    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		     </div>
            <img src="../imagenes/bureta.jpg"  alt="Bureta">
		</section>
        <section id="embudoBucher" class="segmentos materialesyEquipos">
			<div class="divMaterialesyEquipos">
				<h3>Embudo Buchner</h3>
				<p class="fuente">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<img src="../imagenes/embudo-buchner.jpg" alt="Embudo-buchner">
        </section>
        <section id="embudoDecantacion" class="segmentos materialesyEquipos">
            <div class="divMaterialesyEquipos">
				<h3>Embudo de decantación</h3>
        	    <p class="fuente">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        	    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        	    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        	    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        	    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        	    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
            <img src="../imagenes/embudo-de-decantacion.jpg" alt="Embudo-de-decantacion">
        </section>
        <section id="erlenmeyer" class="segmentos materialesyEquipos" divMaterialesyEquipos>
			<div class="divMaterialesyEquipos">
				<h3>Erlenmeyer</h3>
			    <p class="fuente">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
            <img src="../imagenes/erlenmeyer.jpg" alt="Erlenmeyer">
        </section>
        <section id="tubosRefrigerantes" class="segmentos materialesyEquipos">
            <div class="divMaterialesyEquipos">
				<h3>Tubos refrigerantes</h3>
        	    <p class="fuente">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        	     tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        	     quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        	     consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        	     cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        	     proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		    </div>
			<img src="../imagenes/tubos-refrigerantes.jpg" alt="Tubos-refrigerantes">
        </section>
	
</body>
</html>