<!DOCTYPE html>
<html>
<head>
    <title>Todo Lab.\Materiales</title>
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale1.0"/>
        <meta name="keywords" content="bureta, embudo buchner, embudo decantación, tubo refrigerante, erlenmeyer">
        <meta name="description" content="En este segmento podrás encontrar las descripciones, usos,imagenes y tipos de los diferentes materiales de laboratorio">
        <link rel="stylesheet" href="../assets/estilos.css">
</head>
<body id="grillaMateriales">
    <header>
        <div class="divHeader">
                <div class="btn-menu">
                    <label for="btn-menu">☰</label>
                </div>
                <h1>Todo Lab.</h1>
        </div>	  
        <nav id="navUno">
            <ul class="listaUno">
                <li><a href="../index.html" class="enlacesLista">Inicio</a></li>
                    <li><a href="equipos-de-lab.html" class="enlacesLista">Equipos de laboratorio</a></li>
                    <li><a href="materiales-de-lab.html" class="enlacesLista">Materiales de laboratrio</a></li>
                    <li><a href="contacto-y-nosotros.html" class="enlacesLista">Contacto y Nosotros</a></li>
                </ul>
        </nav>
    </header>
        <input type="checkbox" id="btn-menu">
        <div class="container-menu">
            <div class="cont-menu">
                <nav>
                  <ul>
                      <li>Equipos
                          <ul>
                              <li><a>Autoclave</a></li>
                              <li><a>Balanza analitica</a></li>
                              <li><a>Balanza granataria</a></li>
                              <li><a>Centrifugadora</a></li>
                              <li><a>Estufa de cultivo</a></li>
                          </ul>
                      </li>
                      <li>Materiales
                          <ul>
                              <li><a>Bureta</a></li>
                              <li><a>Embudo buchner</a></li>
                              <li><a>Embudo decantacion</a></li>
                              <li><a>Erlenmeyer</a></li>
                              <li><a>Tubo refrigerante</a></li>
                          </ul>
                      </li>
                </ul>
                </nav>
                <label for="btn-menu">✖️</label>
            </div>
        </div>
		<h2 class="subtitulo">Materiales de laboratorio</h2>
		<section id="bureta" class="segmentos materialesyEquipos">
			<div class="divMaterialesyEquipos">
			    <h3>Bureta</h3>
        	    <p class="fuente">
                    La bureta se utiliza para emitir cantidades variables de líquido con gran  exactitud 
                    y precisión. La bureta es un tubo graduado de gran extensión, generalmente construido 
                    de vidrio. Posee un diámetro interno uniforme en toda su extensión, esta provista de 
                    una llave (robinete), que permite verter líquidos gota a gota.
                </p>
		     </div>
            
		</section>
        <section id="embudoBuchner" class="segmentos materialesyEquipos">
			<div class="divMaterialesyEquipos">
				<h3>Embudo Buchner</h3>
				<p class="fuente">
                    El embudo büchner es un tipo especial de embudo utilizado para la filtración al vació 
                    o filtración a presión asistida. Se hace tradicionalmente de porcelana, sin embargo también 
                    está disponible en vidrio y plástico. En la zona superior cilíndrica del embudo existe una 
                    placa circular que posee un conjunto de perforaciones.
                </p>
			</div>
        </section>
        <section id="embudoDecantacion" class="segmentos materialesyEquipos">
            <div class="divMaterialesyEquipos">
				<h3>Embudo de decantación</h3>
        	    <p class="fuente">
                    El embudo de decantación se utiliza principalmente para separar líquidos inmiscibles, 
                    o insolubles (no se mezclan), que se separan por diferencia de densidades y propiedades 
                    moleculares que estos líquidos poseen. La cual mediante un tiempo se apartan en dos o más 
                    fracciones dependiendo de la cantidad de sustancias contenidas en el interior del recipiente.
                </p>
			</div>
        </section>
        <section id="erlenmeyer" class="segmentos materialesyEquipos" divMaterialesyEquipos>
			<div class="divMaterialesyEquipos">
				<h3>Erlenmeyer</h3>
			    <p class="fuente">
                    El matraz erlenmeyer es un recipiente de vidrio que se utiliza en los laboratorios, tiene forma 
                    de cono y tiene un cuello cilíndrico, es plano por la base. Se utiliza para calentar líquidos 
                    cuando hay peligro de pérdida por evaporación.
                </p>
			</div>
        </section>
        <section id="tubosRefrigerantes" class="segmentos materialesyEquipos">
            <div class="divMaterialesyEquipos">
				<h3>Tubo refrigerante</h3>
        	    <p class="fuente">El Tubo Refrigerante o Tubo condensador, es un aparato de vidrio que permite transformar 
                    los gases que se desprenden en el proceso de destilación, a fase liquida.<br>
                    El tubo Refrigerante está conformado por dos tubos cilíndricos concéntricos. 
                    Por el conducto interior del tubo circulara el gas que se desea condensar y por el conducto más externo circulara el líquido refrigerante.
                </p>
		    </div>
        </section>
</body>
</html>