* {
    margin:0;
    padding:0;
}

/* Estilos por etiquetas */
/* Estilos generales */

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(216, 117, 117);
}

header {
    background-color: rgb(226, 35, 35);
    border-bottom: solid 2px;
}

h1 {
    font-size: 40px;
    text-align: center;
    padding-top: 5px;
}

ul.listaUno {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
ul.listaUno li {
    float: left;
}
  
ul.listaUno li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
ul.listaUno li a:hover:not(.active) {
    background-image: radial-gradient(circle at 50% -20.71%, #97bdff 0, #3c78f2 50%, #003886 100%);
}
  
ul.listaUno li a.active {
    background-color: red;
}
  
ul.listaUno li.right {
    float: right;
}

nav#navDos {
    border: solid 2px;
    background-color: rgb(226, 35, 35);
}

img {
    max-width: 100%;
    height: auto;
}

/* Estilos para form */

form {
    width: 60%;
    transform: translate(12%,0px);
    background-color: rgb(226, 35, 35);
    width: 80%;
    border: 2px solid;
}

form div div input {
    margin: 4px
}

label {
    display: block;
	padding: 5px
}

input[type=text], input[type=Email], select {
    width: 50%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    display: block;
    width: 90%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    margin: 6px;
}

/* Estilos por clases*/

.segmentos {
    border: solid 2px;
    background-image: radial-gradient(circle at 50% -20.71%, #97bdff 0, #3c78f2 50%, #003886 100%);
    padding: 5px;
}

.fuente {
	font-family: 'Open Sans', sans-serif;
}

.contactosyNosotros {
    margin: 4px;
    padding: 4px;
}

.listaDos {
    border: solid 2px;
    margin: 2px;
    padding: 5px;
    background-color: rgb(85, 124, 240);
}

.itemsListaDos{
    text-decoration: underline;
    font-weight: bold;
}

.subItemsListaDos {
    margin: 2px;
    padding: 5px;
}

.divUno, .subtitulo {
	margin: 7px
}

.enlacesBody:link {
    text-decoration: none;
    color: black
}
  
.enlacesBody:visited {
    text-decoration: none;
    color: black;
}
  
.enlacesBody:hover {
    text-decoration: underline;
}

.enlacesBody:active {
    text-decoration: underline;
}

/* Grid */

/* Grid para Index */

header {
    grid-area: cabeza;
}

section#equipos {
    grid-area: equipos;
}

section#materiales {
    grid-area: materiales;
}

section#contactoIndex {
    grid-area: contacto;
}

section#nosotrosIndex {
    grid-area: nosotros;
}

#grillaIndex {
    display: grid;
    grid-template-areas: 
    "cabeza"
    "equipos"
    "materiales"
    "contacto"
    "nosotros";
    grid-template-rows: 1fr 4fr 4fr 3fr 1fr;
    grid-row-gap: 10px;
}

/* Grid sección materiales */

nav#navDos {
    grid-area: navlateral;
}

h2 {
    grid-area: subtitulo;
}

section#bureta {
    grid-area: uno;
}

section#embudoBuchner {
    grid-area: dos;
}

section#embudoDecantacion {
    grid-area: tres;
}

section#erlenmeyer {
    grid-area: cuatro;
}

section#tubosRefrigerantes {
    grid-area: cinco;
}

#grillaMateriales {
    display: grid;
    grid-template-areas:
    "cabeza cabeza"
    "subtitulo subtitulo"
    "navlateral uno"
    "navlateral dos"
    "navlateral tres"
    "navlateral cuatro"
    "navlateral cinco";
    grid-template-columns: 1fr 8fr;
    grid-row-gap: 10px;
    grid-column-gap: 5px;
}

/* Grid sección equipos */

section#autoclave {
    grid-area: uno;
}

section#balanzaAnalitica {
    grid-area: dos;
}

section#balanzaGranataria {
    grid-area: tres;
}

section#centrifugadora {
    grid-area: cuatro;
}

section#estufaCultivo {
    grid-area: cinco;
}

#grillaEquipos {
    display: grid;
    grid-template-areas:
    "cabeza"
    "subtitulo"
    "uno"
    "dos"
    "tres"
    "cuatro"
    "cinco";
    grid-template-rows: 1fr 1fr 2fr 2fr 2fr 2fr 2fr;
    grid-row-gap: 10px
}

/* Grid sección contacto y nosotros */

section#ayuda {
    grid-area: ayuda;
}

section#form {
    grid-area: form;
}

section#nosotrosDos {
    grid-area: nosotrosDos;
}

#grillaAyuda {
    display: grid;
    grid-template-areas:
    "cabeza"
    "ayuda"
    "form"
    "nosotrosDos";
    grid-template-rows: 1fr 1.5fr 2fr 2fr;
    grid-row-gap: 10px;
}

/* Flexbox */

/* Flexbox para form */

form {
	display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


/* Flexbox para seccciones */
  
@media screen and (max-width: 720px) {
    ul.listaUno li.right, ul.listaUno li {
        float: none;
    }

    form {
        flex-direction: column;
        align-items: center;
    }

    input[type=text], input[type=Email], select {
        width: 40%;
    }

    textarea {
        width: 80%;
    }
}